@import "../../variables.scss";

.headerText {
  font-family: $heading-font;
  font-size: 20px;
}

.headerText--primary {
  color: $text-colour-primary;
}
.headerText--underline {
  color: $text-colour-primary;
  text-decoration: underline;
}
.headerText--xsmall {
  font-size: 1rem;
}
.headerText--small {
  font-size: 1.5rem;
}
.headerText--medium {
  font-size: 2.5rem;
}
.headerText--large {
  font-size: 3rem;
}
.headerText--white {
  color: $text-colour-primary;
}
.headerText--pink {
  color: $colour-2;
}
.headerText--purple {
  color: $colour-1;
}
.headerText--orange {
  color: $colour-3;
}
