@import "../../variables.scss";

.footer {
  background-color: $colour-1;
  .footer__container {
    padding-top: 60px;
    text-align: center;

    .container__text-wrapper {
      ul {
        margin-top: 20px;
        margin-bottom: 20px;
        line-height: 30px;
        list-style: none;
      }

      .text-wrapper__imageAppSore {
        margin-top: 20px;
        margin-right: 20px;
      }
      .text-wrapper__imageAndroid {
        margin-top: 20px;
      }
    }

    hr {
      width: 75%;
      margin: auto;
      margin-top: 40px;
    }

    .container__link-wrapper {
      margin-top: 40px;

      p {
        font-size: 14px;
        margin-bottom: 40px;
      }

      .link-wrapper__social {
        display: flex;
        justify-content: space-evenly;
        width: 50%;
        margin: 40px auto 0 auto;
        padding-bottom: 20px;

        .instagram {
          background-color: #fff;
          border-radius: 50%;
          img {
            height: 25px;
            width: 30px;
            padding: 3px;
          }
        }

        .facebook {
          background-color: #fff;
          border-radius: 50%;
          img {
            height: 25px;
            width: 30px;
            padding: 3px;
          }
        }

        .twitter {
          background-color: #fff;
          border-radius: 50%;
          img {
            height: 25px;
            width: 30px;
            padding: 3px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container__text-wrapper {
    display: flex;
    justify-content: center;

    img {
      display: block;
    }

    div {
      margin: 0 60px;
      text-align: left;
    }
  }

  .container__link-wrapper {
    display: flex;
    // // align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
    width: 70%;
    margin: auto;

    div {
      display: flex;
      height: fit-content;

      div {
        margin-left: 10px;
      }
    }

    .link-wrapper__social {
      // display: flex;
      margin: 5px 0 0 0 !important;
      // justify-content: space-evenly;
      // width: 20% !important;
      // // margin: 40px auto 0 auto;
      // padding-bottom: 40px !important;
    }
  }
}
