* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "bw gradual DEMO";
  src: url(fonts/BwGradualDEMO-Regular.otf);
}

@font-face {
  font-family: "monument extended";
  src: url(fonts/MonumentExtended-Black.otf);
}

body {
  margin: 0;
  font-family: bw gradual DEMO;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fffeff;
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
